name: 'build-test'
on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: node --version
      - uses: actions/checkout@v6
      - run: npm ci
      - run: npm run ci
